
body {
  background-image: linear-gradient(to bottom, #a8cbec, #FFF);
  font-family: 'Quicksand', sans-serif;
}

a {
  color: #466dbf;
}

.gray-color {
  color: #727272;
}


.blog-header {
  line-height: 1;
  border-bottom: 1px solid #F2EDE4;
  padding: 0px 15px 0px 15px;
}

.blog-header-logo {
  font-size: 2.25rem;
  text-decoration: none;
  color:#F2EDE4;
}

.blog-header-logo:hover {
  color: #F2EDE4;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

/* menu */

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;

}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.p-2 {
  text-decoration: none;
}

/* showroom */

.col-md-12 {
  margin-top: 20px;
}

.transparent-bg {
  background-color: #ffffff4d;
}

#img-showroom {
  width: 100%;
}

.bg-dark-custom {
  background-color: rgba(0, 51, 132, 0.29);
}

/* cards */

.text-darker {
  color: #383838;
}

.white-border-solid {
  border: 1px solid #F2EDE4;
}

.dark-border-solid {
  border: 1px solid #25252533;
}

.cards-bg {
  background-color: rgba(61, 98, 158, 0.081);
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #a9caecc0;
  border-top: .05rem solid #F2EDE4;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
